 <!-- <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i>WanderHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listing</a>
        <a class="nav-link" href="/listings/new">New Listings</a>
        <div class="nav-search-box">

          <div class="search-box">
       <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Explore location" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
        </div>
            


      </div>
    </div>


  </div>
</nav> -->

<!-- <header>
    <nav class="nav-main">
      <div class="nav-left">
         <a class="logo-brand" href="/"><i class="fa-solid fa-compass"></i>WanderHub</a>
          
         <button class="nav-togle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
         </button>

    
        <div class="nav-menu">
          <a href="#home" class="active">Home</a>  
          <a href="#services">Services</a> 
          <a href="#contact">Contact</a> 
          <a href="#about">About</a> 
          <a href="#alllistinings">All Listining</a>
          <a class="addNew-listining" href="#addlistining">Add Listining <span>NEW</span></a>  
        </div> -->
          <!-- <i class="fa-solid fa-bars toggle-btn"></i> -->
      <!-- </div> -->

      <!-- <div class="nav-right">
        <div class="search-bar">
          <button class="search-btn" type="button" aria-label="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input type="text" placeholder="Search Your Destination...">
        </div>

        <div class="icon-div" id="wishlist">
          <i class="fa-regular fa-heart icons"></i>
          <p class="nav-icon-text">Wishlist</p>
        </div>
 

        <div class="icon-div" id="profile-div">
           <i class="fa-regular fa-circle-user icons"></i>
           <p class="nav-icon-text">Profile</p>
        </div>
         
    </nav> -->

  <!-- </header>

  <script>
      
      const navTogle = document.querySelector('.nav-togle');
      const navMenu = document.querySelector('.nav-menu');

      navTogle.addEventListener('click', () => {
        navTogle.classList.toggle('active');
        navMenu.classList.toggle('active');
      })
     
  </script> -->

   <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top"
    >
      <div class="container-fluid px-4">
        <!-- Brand -->
        <a class="navbar-brand" href="/"
          ><i class="fa-solid fa-compass text-primary mx-1"></i>WanderHub</a
        >

        <!-- Mobile buttons -->
        <div class="d-flex align-items-center d-lg-none gap-2 ms-auto">
          <button id="searchToggle" class="btn btn-outline-black btn-sm" aria-label="Open Search">
          <i class="bi bi-search"></i>
          </button>
          <button
            class="navbar-toggler shadow-none border-0"
            type="button"
            aria-label="Open Menu"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <!-- Offcanvas Menu -->
        <div
          class="offcanvas offcanvas-start text-bg-light"
          tabindex="-1"
          id="offcanvasNavbar"
        >
          <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title fs-4">
              <a class="navbar-brand" href="/"
                ><i class="fa-solid fa-compass text-primary mx-1"></i>WanderHub</a
              >
            </h5>
            <button
              type="button"
              class="btn-close btn-close-black shadow-none"
              aria-label="Close Search"
              data-bs-dismiss="offcanvas"
            ></button>
          </div>

          <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
            <!-- Navbar Links -->
            <ul class="navbar-nav justify-content-start align-items-center fs-6 flex-grow-1 pe-3 hover-effect" >
              <li class="nav-item mx-2">
                <a class="nav-link active" href="/listings">Home</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#add-listing">AddListing</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#all-listing">AllListings</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link" href="#about">About</a>
              </li>
              <!-- <li class="nav-item mx-2">
                <a class="nav-link" href="#services">Services</a>
              </li> -->
              <li class="nav-item mx-2">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>

            <!-- Desktop Search (after menu) -->
            <form class="d-none d-lg-flex navbar-search-desktop ms-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control border-0 rounded-start-4"
                  placeholder="Search..."
                />
                <button class="btn btn-primary rounded-end-4" aria-label="Search-Data" type="submit">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </form>

            <!-- Login / Signup -->
            <div
              class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3 ms-lg-3"
            >
              <a href="#login" class="text-black text-decoration-none">Login</a>
              <a href="#sign-up" class="btn btn-primary rounded-pill px-4 py-1"
                >Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Mobile Search Box -->
    <div class="mobile-search-box" id="mobileSearch">
      <form class="d-flex gap-2">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Search..."
          autofocus
        />
        <button class="btn btn-outline-primary" type="submit">Search</button>
        <button
          class="btn btn-outline-black shadow-sm"
          aria-label="Close Search"
          type="button"
          id="closeSearch"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </form>
    </div>


    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>